CampaRi.Rproj
.Rbuildignore
.Rproj.user/*
.Rhistory
.RData
.Ruserdata

config.log
config.status
autom4te.cache/*


src/*.o
src/*.so
src/*.dll
src/*.mod
src/a.out
src/REPIX
src/Makevars
output_to_delete/
man/.Rd2pdf21998/
inst/doc
inst/campari_lib/*
vignettes/out_to_del/*
TODEL
configure.ac
.Rproj.user
