CampaRi.Rproj
.Rbuildignore
.Rproj.user
.Rhistory
.RData
.Ruserdata

config.log
config.status
autom4te.cache/*


src/*.o
src/*.so
src/*.dll
src/*.mod
src/a.out
src/REPIX
src/Makevars
src/to_del*
src/lapack_eig.f90


man/.Rd2pdf21998/

inst/doc
inst/campari_lib

vignettes/to_d
vignettes/rsconnect
