CampaRi.Rproj
.Rbuildignore
.Rproj.user/*
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/*.mod
src/a.out
src/REPIX
src/Makevars*
output_to_delete/
man/.Rd2pdf21998/
config.log
config.status
autom4te.cache/
inst/doc
vignettes/out_to_del/*
TODEL
